@model BikeStoresApp.Models.staff

@using (Html.BeginForm("CreateStaff", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <!-- First Name -->
        <div class="form-group">
            @Html.LabelFor(m => m.first_name, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(m => m.first_name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            </div>
        </div>

        <!-- Last Name -->
        <div class="form-group">
            @Html.LabelFor(m => m.last_name, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(m => m.last_name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
            </div>
        </div>

        <!-- Email -->
        <div class="form-group">
            @Html.LabelFor(m => m.email, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(m => m.email, new { htmlAttributes = new { @class = "form-control", type = "email", required = "required" } })
            </div>
        </div>

        <!-- Phone -->
        <div class="form-group">
            @Html.LabelFor(m => m.phone, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(m => m.phone, new { htmlAttributes = new { @class = "form-control" } })
            </div>
        </div>

        <!-- Active -->
        <div class="form-group">
            @Html.LabelFor(m => m.active, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <select name="active" class="form-control" required>
                    <option value="1">Active</option>
                    <option value="0">Inactive</option>
                </select>
            </div>
        </div>

        <!-- Store Dropdown -->
        <div class="form-group">
            @Html.Label("Store", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <select name="store_id" class="form-control" required>
                    <option value="">-- Select Store --</option>
                    @if (ViewBag.Stores != null)
                    {
                        foreach (var store in ViewBag.Stores)
                        {
                            <option value="@store.store_id">@store.store_name</option>
                        }
                    }
                </select>
            </div>
        </div>

        <!-- Manager Dropdown (Optional) -->
        <div class="form-group">
            @Html.Label("Manager", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <select name="manager_id" class="form-control">
                    <option value="">-- No Manager --</option>
                    @if (ViewBag.Managers != null)
                    {
                        foreach (var manager in ViewBag.Managers)
                        {
                            <option value="@manager.staff_id">@manager.first_name @manager.last_name</option>
                        }
                    }
                </select>
            </div>
        </div>

        <!-- Submit Buttons -->
        <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
                <button type="submit" class="btn btn-success">Create Staff</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
}
