@model BikeStoresApp.Models.staff

@{
    var stores = (List<BikeStoresApp.Models.store>)ViewData["Stores"];
    var managers = (List<BikeStoresApp.Models.staff>)ViewData["Managers"];
}

<div class="p-3">
    @using (Html.BeginForm("CreateStaff", "Home", FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="mb-3">
            @Html.LabelFor(m => m.first_name, new { @class = "form-label" })
            @Html.EditorFor(m => m.first_name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
        </div>

        <div class="mb-3">
            @Html.LabelFor(m => m.last_name, new { @class = "form-label" })
            @Html.EditorFor(m => m.last_name, new { htmlAttributes = new { @class = "form-control", required = "required" } })
        </div>

        <div class="mb-3">
            @Html.LabelFor(m => m.email, new { @class = "form-label" })
            @Html.EditorFor(m => m.email, new { htmlAttributes = new { @class = "form-control", type = "email", required = "required" } })
        </div>

        <div class="mb-3">
            @Html.LabelFor(m => m.phone, new { @class = "form-label" })
            @Html.EditorFor(m => m.phone, new { htmlAttributes = new { @class = "form-control" } })
        </div>

        <div class="mb-3">
            @Html.LabelFor(m => m.active, new { @class = "form-label" })
            <select name="active" class="form-select" required>
                <option value="1">Active</option>
                <option value="0">Inactive</option>
            </select>
        </div>

        <div class="mb-3">
            @Html.Label("Store", new { @class = "form-label" })
            <select name="store_id" class="form-select" required>
                <option value="">-- Select Store --</option>
                @foreach (var store in stores)
                {
                    <option value="@store.store_id">@store.store_name</option>
                }
            </select>
        </div>

        <div class="mb-3">
            @Html.Label("Manager", new { @class = "form-label" })
            <select name="manager_id" class="form-select">
                <option value="">-- No Manager --</option>
                @foreach (var manager in managers)
                {
                    <option value="@manager.staff_id">@manager.first_name @manager.last_name</option>
                }
            </select>
        </div>

        <div class="text-end">
            <button type="submit" class="btn btn-success">Create</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        </div>
    }
    </div>
    

