@{
    ViewBag.Title = "Home - Bike Stores";
}

<div class="container">
    <div class="row" style="margin-top: 20px;">

        <!--STAFF CARD -->
        <div class="col-md-4">
            <div class="panel panel-primary">
                <div class="panel-heading" style="display: flex; justify-content: space-between; align-items: center;">
                    <span>Staff</span>
                    <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#createStaffModal">
                        <span class="glyphicon glyphicon-plus"></span> Add
                    </button>
                </div>
                <div class="panel-body">
                    @{
                        var staffs = ViewBag.Staffs as List<BikeStoresApp.Models.staff>;
                        var staffIndex = ViewBag.StaffIndex ?? 0;
                        BikeStoresApp.Models.staff staff = null;

                        if (staffs != null && staffs.Count > 0 && staffIndex >= 0 && staffIndex < staffs.Count)
                        {
                            staff = staffs[staffIndex];
                        }
                    }

                    @if (staff != null)
                    {
                        <p><strong>ID:</strong> @staff.staff_id</p>
                        <p><strong>First Name:</strong> @staff.first_name</p>
                        <p><strong>Last Name:</strong> @staff.last_name</p>
                        <p><strong>Email:</strong> @staff.email</p>
                        <p><strong>Phone:</strong> @staff.phone</p>
                        <p><strong>Store:</strong> @staff.store.store_name</p>


                    }
                    else
                    {
                        <p class="text-muted">No staff available.</p>
                    }
                </div>
                <div class="panel-footer">
                    <div class="btn-group btn-group-justified" role="group">
                        @if (staffs != null && staffIndex > 0)
                        {
                            <a href="@Url.Action("Index", new { staffIndex = staffIndex - 1, customerIndex = ViewBag.CustomerIndex ?? 0, productIndex = ViewBag.ProductIndex ?? 0 })" class="btn btn-default">
                                <span class="glyphicon glyphicon-chevron-left"></span> Prev
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-default disabled">
                                <span class="glyphicon glyphicon-chevron-left"></span> Prev
                            </a>
                        }

                        <a class="btn btn-default disabled">@(staffIndex + 1) / @(staffs?.Count ?? 0)</a>

                        @if (staffs != null && staffIndex < staffs.Count - 1)
                        {
                            <a href="@Url.Action("Index", new { staffIndex = staffIndex + 1, customerIndex = ViewBag.CustomerIndex ?? 0, productIndex = ViewBag.ProductIndex ?? 0 })" class="btn btn-default">
                                Next <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-default disabled">
                                Next <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>

        <!-- CUSTOMER CARD -->
        <div class="col-md-4">
            <div class="panel panel-info">
                <div class="panel-heading" style="display: flex; justify-content: space-between; align-items: center;">
                    <span>Customer</span>
                    <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#createCustomerModal">
                        <span class="glyphicon glyphicon-plus"></span> Add
                    </button>
                </div>
                <div class="panel-body">
                    @{
                        var customers = ViewBag.Customers as List<BikeStoresApp.Models.customer>;
                        var customerIndex = ViewBag.CustomerIndex ?? 0;
                        BikeStoresApp.Models.customer customer = null;

                        if (customers != null && customers.Count > 0 && customerIndex >= 0 && customerIndex < customers.Count)
                        {
                            customer = customers[customerIndex];
                        }
                    }

                    @if (customer != null)
                    {
                        <p><strong>ID:</strong> @customer.customer_id</p>
                        <p><strong>First Name:</strong> @customer.first_name</p>
                        <p><strong>Last Name:</strong> @customer.last_name</p>

                        <p><strong>Email:</strong> @customer.email</p>
                        <p><strong>Phone:</strong> @customer.phone</p>
                        <p><strong>City:</strong> @customer.city</p>
                        

                    }
                    else
                    {
                        <p class="text-muted">No customers available.</p>
                    }
                </div>
                <div class="panel-footer">
                    <div class="btn-group btn-group-justified" role="group">
                        @if (customers != null && customerIndex > 0)
                        {
                            <a href="@Url.Action("Index", new { staffIndex = ViewBag.StaffIndex ?? 0, customerIndex = customerIndex - 1, productIndex = ViewBag.ProductIndex ?? 0 })" class="btn btn-default">
                                <span class="glyphicon glyphicon-chevron-left"></span> Prev
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-default disabled">
                                <span class="glyphicon glyphicon-chevron-left"></span> Prev
                            </a>
                        }

                        <a class="btn btn-default disabled">@(customerIndex + 1) / @(customers?.Count ?? 0)</a>

                        @if (customers != null && customerIndex < customers.Count - 1)
                        {
                            <a href="@Url.Action("Index", new { staffIndex = ViewBag.StaffIndex ?? 0, customerIndex = customerIndex + 1, productIndex = ViewBag.ProductIndex ?? 0 })" class="btn btn-default">
                                Next <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-default disabled">
                                Next <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>

        <!-- PRODUCT CARD -->
        <div class="col-md-4">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <form method="get" class="form-inline">
                        <div class="form-group">
                            <label>Brand:</label>
                            <select name="brandId" class="form-control input-sm" style="width: auto;">
                                <option value="">All</option>
                                @foreach (var brand in ViewBag.Brands ?? new List<BikeStoresApp.Models.brand>())
                                {
                                    <option value="@brand.brand_id">@brand.brand_name</option>
                                }
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Category:</label>
                            <select name="categoryId" class="form-control input-sm" style="width: auto;">
                                <option value="">All</option>
                                @foreach (var category in ViewBag.Categories ?? new List<BikeStoresApp.Models.category>())
                                {
                                    <option value="@category.category_id">@category.category_name</option>
                                }
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary btn-xs">
                            <span class="glyphicon glyphicon-filter"></span> Filter
                        </button>
                    </form>
                </div>
                <div class="panel-body">
                    <div class="panel-body">
                        @{
                            var products = ViewBag.Products as List<BikeStoresApp.Models.product>;
                            var productIndex = ViewBag.ProductIndex ?? 0;
                            BikeStoresApp.Models.product product = null;

                            if (products != null && products.Count > 0 && productIndex >= 0 && productIndex < products.Count)
                            {
                                product = products[productIndex];
                            }
                        }

                        @if (product != null)
                        {
                            @* Display bike image *@
                            
                                var random = new Random();
                                var randomIndex = random.Next(1, 19); 
                                var imagePath = Url.Content($"~/Images/Bike{randomIndex}.jpeg");
                            
                            <img src="@imagePath" alt="@product.brand.brand_name"
                                 class="img-thumbnail"
                                 style="width:200px;height:auto;"
                                 onerror="this.src='@Url.Content("~/Images/placeholder.jpeg")'; this.onerror=null;" />


                     

                            <p><strong>ID:</strong> @product.product_id</p>
                            <p><strong>Name:</strong> @product.product_name</p>
                            <p><strong>Brand:</strong> @product.brand.brand_name</p>
                            <p><strong>Category:</strong> @product.category.category_name</p>
                            <p><strong>Year:</strong> @product.model_year</p>
                            <p><strong>Price:</strong> R @product.list_price</p>
                        }
                        else
                        {
                            <p class="text-muted">No products found.</p>
                        }
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="btn-group btn-group-justified" role="group">
                        @if (products != null && productIndex > 0)
                        {
                            <a href="@Url.Action("Index", new { staffIndex = ViewBag.StaffIndex ?? 0, customerIndex = ViewBag.CustomerIndex ?? 0, productIndex = productIndex - 1, brandId = Request.QueryString["brandId"], categoryId = Request.QueryString["categoryId"] })" class="btn btn-default">
                                <span class="glyphicon glyphicon-chevron-left"></span> Prev
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-default disabled">
                                <span class="glyphicon glyphicon-chevron-left"></span> Prev
                            </a>
                        }

                        <a class="btn btn-default disabled">@(productIndex + 1) / @(products?.Count ?? 0)</a>

                        @if (products != null && productIndex < products.Count - 1)
                        {
                            <a href="@Url.Action("Index", new { staffIndex = ViewBag.StaffIndex ?? 0, customerIndex = ViewBag.CustomerIndex ?? 0, productIndex = productIndex + 1, brandId = Request.QueryString["brandId"], categoryId = Request.QueryString["categoryId"] })" class="btn btn-default">
                                Next <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        }
                        else
                        {
                            <a class="btn btn-default disabled">
                                Next <span class="glyphicon glyphicon-chevron-right"></span>
                            </a>
                        }
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- CREATE STAFF MODAL -->
<div class="modal fade" id="createStaffModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create New Staff Member</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateStaff", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <!-- First Name -->
                        <div class="form-group">
                            <label class="control-label col-md-3">First Name</label>
                            <div class="col-md-9">
                                <input type="text" name="first_name" class="form-control" required />
                            </div>
                        </div>

                        <!-- Last Name -->
                        <div class="form-group">
                            <label class="control-label col-md-3">Last Name</label>
                            <div class="col-md-9">
                                <input type="text" name="last_name" class="form-control" required />
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="form-group">
                            <label class="control-label col-md-3">Email</label>
                            <div class="col-md-9">
                                <input type="email" name="email" class="form-control" required />
                            </div>
                        </div>

                        <!-- Phone -->
                        <div class="form-group">
                            <label class="control-label col-md-3">Phone</label>
                            <div class="col-md-9">
                                <input type="text" name="phone" class="form-control" />
                            </div>
                        </div>

                        <!-- Active Status -->
                        <div class="form-group">
                            <label class="control-label col-md-3">Active</label>
                            <div class="col-md-9">
                                <select name="active" class="form-control" required>
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                            </div>
                        </div>

                        <!-- Store Dropdown -->
                        <div class="form-group">
                            <label class="control-label col-md-3">Store</label>
                            <div class="col-md-9">
                                <select name="store_id" class="form-control" required>
                                    <option value="">-- Select Store --</option>
                                    @if (ViewBag.Stores != null)
                                    {
                                        foreach (var store in ViewBag.Stores)
                                        {
                                            <option value="@store.store_id">@store.store_name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <!-- Manager Dropdown (Optional) -->
                        <div class="form-group">
                            <label class="control-label col-md-3">Manager</label>
                            <div class="col-md-9">
                                <select name="manager_id" class="form-control">
                                    <option value="">-- No Manager --</option>
                                    @if (ViewBag.Managers != null)
                                    {
                                        foreach (var manager in ViewBag.Managers)
                                        {
                                            <option value="@manager.staff_id">@manager.first_name @manager.last_name</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-success">
                                    <span class="glyphicon glyphicon-ok"></span> Create Staff
                                </button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-remove"></span> Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<!-- CREATE CUSTOMER MODAL -->
<div class="modal fade" id="createCustomerModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create New Customer</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("CreateCustomer", "Home", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        <!-- First Name -->
                        <div class="form-group">
                            <label class="control-label col-md-3">First Name</label>
                            <div class="col-md-9">
                                <input type="text" name="first_name" class="form-control" required />
                            </div>
                        </div>

                        <!-- Last Name -->
                        <div class="form-group">
                            <label class="control-label col-md-3">Last Name</label>
                            <div class="col-md-9">
                                <input type="text" name="last_name" class="form-control" required />
                            </div>
                        </div>

                        <!-- Email -->
                        <div class="form-group">
                            <label class="control-label col-md-3">Email</label>
                            <div class="col-md-9">
                                <input type="email" name="email" class="form-control" />
                            </div>
                        </div>

                        <!-- Phone -->
                        <div class="form-group">
                            <label class="control-label col-md-3">Phone</label>
                            <div class="col-md-9">
                                <input type="text" name="phone" class="form-control" />
                            </div>
                        </div>

                        <!-- Street -->
                        <div class="form-group">
                            <label class="control-label col-md-3">Street</label>
                            <div class="col-md-9">
                                <input type="text" name="street" class="form-control" />
                            </div>
                        </div>

                        <!-- City -->
                        <div class="form-group">
                            <label class="control-label col-md-3">City</label>
                            <div class="col-md-9">
                                <input type="text" name="city" class="form-control" />
                            </div>
                        </div>

                        <!-- State -->
                        <div class="form-group">
                            <label class="control-label col-md-3">State</label>
                            <div class="col-md-9">
                                <input type="text" name="state" class="form-control" />
                            </div>
                        </div>

                        <!-- Zip Code -->
                        <div class="form-group">
                            <label class="control-label col-md-3">Zip Code</label>
                            <div class="col-md-9">
                                <input type="text" name="zip_code" class="form-control" />
                            </div>
                        </div>

                        <!-- Submit Button -->
                        <div class="form-group">
                            <div class="col-md-offset-3 col-md-9">
                                <button type="submit" class="btn btn-success">
                                    <span class="glyphicon glyphicon-ok"></span> Create Customer
                                </button>
                                <button type="button" class="btn btn-default" data-dismiss="modal">
                                    <span class="glyphicon glyphicon-remove"></span> Cancel
                                </button>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

